{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://scontent.fhyd3-1.fna.fbcdn.net/v/t1.18169-9/14611140_1158014434277793_8744372754351223268_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=nSnJ7-NupBwAX_myzQW&_nc_ht=scontent.fhyd3-1.fna&oh=00_AfC_LTvyUtDiZzt6aAOzGNlLrTmQFIKEY-wgNRbwHmnYwQ&oe=64D0CD6C')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Rajesh's Blog</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
          {% if current_user.id==1: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        {% if current_user.id==1: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}